body{
	background-color: grey;
}

.container{
	height: 800px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: white;
}

.col-sm-12{
	text-align: center;
	padding: 10px;
	margin-top: 25px;
}

.start-link{
	font-size: 38px;
}
#createtaak-link{
	font-size: 28px;
}

#deletetaak-text{
	margin-top: 30px;
}

#deletetaak-button{
	margin-top: 100px;
	font-size: 26px;
}

.inputlist, .inputtask{
	margin-top: 30px;
	margin-bottom: 10px;
}

td{
	padding: 5px;
}

th{
	padding: 5px;
	cursor: pointer;
}

tr{
	padding: 5px;
}


ul li{
	display: inline;
}


li a{
	font-size: 22px;
	padding: 10px;
}

#filter{
	margin-top: 10px;
	margin-bottom: 10px;
}